# Arquivo: .env.example

# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=SUA_SENHA_AQUI
DB_DATABASE=estacionamento_db

# Configurações da Aplicação
PORT=3001
JWT_SECRET=SEU_SEGREDO_JWT_AQUI